# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python bytecode
*.pyc
*.pyo
__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environment variables
.env

# Virtual environment
venv/
env/
myenv/
