.custom-green-gradient {
    background: linear-gradient(to right, #064e3b, #10b981, #064e3b); /* Green gradient */
    color: white; /* Text color */
    border: 2px solid white; /* Border color */
    padding: 0.5rem 1rem;
    transition: background 0.3s, color 0.3s; /* Smooth transition */
}

/* Hover state for the button */
.custom-green-gradient:hover {
    background: linear-gradient(to right, #065f46, #059669, #065f46); /* Darker green gradient on hover */
    color: white; /* Text color on hover */
    border-color: #ffffff; /* Border color on hover */
}

/* Custom styles for the button */
.custom-gradient-btn {
    background: linear-gradient(to right, #ffffff, #d1d5db, #e5e7eb);
    border: 2px solid #ffffff;
    color: black;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    border-radius: 0.25rem; /* Rounded corners */
    transition: background 0.3s, color 0.3s;
    display: flex;
    justify-content: center;

  }
 
  
  .custom-gradient-btn:hover {
    background: linear-gradient(to right, #6b7280, #374151, #111827);
    color: #ffffff;
    border-color: #ffffff;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  /* Remove border from the modal body */
  .modal-body {
    border: none;
  }
  
  /* Remove border from the modal footer */
  .modal-footer {
    border-top: none;
    display: flex;
    justify-content: center;
  }

  .custom-modal-title {
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold; /* Optional: Makes the text bold */
  }
  /* Custom styles for the button */
.custom-gradient-btn {
    background: linear-gradient(to right, #ffffff, #d1d5db, #e5e7eb);
    border: 2px solid #ffffff;
    color: black;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    border-radius: 0.25rem; /* Rounded corners */
    transition: background 0.3s, color 0.3s;
    display: flex;
    justify-content: center;

  }
 
  
  .custom-gradient-btn:hover {
    background: linear-gradient(to right, #6b7280, #374151, #111827);
    color: #ffffff;
    border-color: #ffffff;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  /* Remove border from the modal body */
  .modal-body {
    border: none;
  }
  
  /* Remove border from the modal footer */
  .modal-footer {
    border-top: none;
    display: flex;
    justify-content: center;
  }

  .custom-modal-title {
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold; /* Optional: Makes the text bold */
  }
  